body {
    margin: 0 auto;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    background: url("/assets/images/Foto_of_landing2.jpg")center center no-repeat;
    color:floralwhite;
    font-size: 100px;
    letter-spacing: 16px;
    margin: 0px;
    padding: 200px 0px;
}

h1:hover{
background: url("/assets/images/Foto_of_landing2.jpg")center center no-repeat;
transform: scale(1.75);
transition-duration: 5s;

}

p{
    padding: 30px;
    position: relative;
}






